export DEFAULT_USERNAME=eden
export DEFAULT_PASSWORD="you will never guess what I use for a pssword it is as long as my imagination"
# AE5
export AE5_USERNAME=eden
export AE5_PASSWORD=easypeasy
# KeyCloak
export AE5_ADMIN_USERNAME=eden
export AE5_ADMIN_PASSWORD=letmein
# OPS Center
export AE5_OPS_USERNAME=gravity
export AE5_OPS_PASSWORD=enter
